*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

ion-icon, i{
  cursor: pointer;
  font-size: 48px;
  margin: 0 0.5vw;
  font-family: serif;
  font-style: normal;
  font-weight: 600;
}

ion-icon:hover, i:hover{
  color: #333;
}

ion-icon:active, i:active{
  color: #666;
}

row{
  display: block;
}

.ionicons{
  width: 100vw;
  height: 50vh;
  background-color: #bfbfff;
  text-align: center;
}

.link{
  width: 100vw;
  height: 50vh;
  background-color: #4040ff;
  color: #fff
}

#link-href{
  position: absolute;
  top: 55vh;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  background-color: #8080ff;
  cursor: default;
}

#link{
  display: inline-block;
  position: absolute;
  top: 60vh;
  width: 100vw;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  color: #00ffff;
  background-color: #8080ff;
}

#link:hover{
  color: #00ff00;
}
